/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background:linear-gradient(#01016c,#212121);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 500px;
    background-color: #50505080;
    backdrop-filter: blur(12px);
    border-radius: 2vh;;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

.toggle-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.toggle-buttons button {
    flex: 1;
    padding: 10px 20px;
    border: none;
    background-color: #eee;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.toggle-buttons button:hover {
    background-color: #ddd;
}

.toggle-buttons #login-btn.active,
.toggle-buttons #register-btn.active {
    background-color: #007BFF;
    color: white;
}

.form {
    display: flex;
    flex-direction: column;
}

.form.hidden {
    display: none;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

button[type="submit"] {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 3vh;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.switch-text {
    text-align: center;
    font-size: 14px;
    color: #555;
}

.switch-text span {
    color: #007BFF;
    cursor: pointer;
    text-decoration: underline;
}
